* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffd670;
}

.game-info {
  width: 650px;
  margin: auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
