* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffd670;
}

.game-info {
  width: 650px;
  margin: auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gameboard {
  width: 650px;
  height: 650px;
  gap: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  perspective: 1000px;
  overflow: hidden;
  padding: 10px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.card.flip {
  transform: rotateY(180deg);
}

.card:active {
  transform: scale(0.91);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  padding: 20px;
  border-radius: 10px;
}

.back {
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
